/* Add your desired CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    padding: 20px;
}

header {
    background-color: black;

    text-align: center; /* Center the heading */
    padding: 20px;
    height: 100px;
}
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 0px; /* Adjust the spacing between the images if needed */
}
.logo-small {
    width: 200px; /* Adjust the width of the images as desired */
}


/*<nav class = "header-nav">*/
.header-nav {
    padding: 10px; /* Adjust the padding as per your design */
}

.header-nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Align the list items horizontally in the middle */
}

.header-nav ul li {
    position: sticky;
    color: black;
    margin: 0 10px; /* Adjust the margin to add space between each list item */
}

.header-nav ul li a {
    color: white;
    text-decoration: none;
}



main {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;

}

footer {
    background-color: #ccc;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form button {
    margin-bottom: 10px;
}

.image-gallery img {
    width: 200px;
    height: auto;
    margin: 10px;
}

.user-section {
    margin-left: auto;
}

.user-section a {
    margin-left: 10px; /* Adjust the margin as per your design */
    text-decoration: none;
    color: blue; /* Set the font color to blue */
    background-color: white; /* Set the background color to white */
    padding: 5px 10px; /* Adjust the padding as per your design */
    border: 1px solid white; /* Add a border with white color */
    border-radius: 5px; /* Adjust the border radius as per your design */
}

.user-section a:hover {
    background-color: blue; /* Set the background color on hover to blue */
    color: white; /* Set the font color on hover to white */
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 43px;
    font-weight: bold;
    text-align: center;

    padding: 10px;
}
.button-container {
    position: absolute;
    bottom: 250px; /* Adjust the position as per your design */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

}

.button {
    margin: 0 10px; /* Adjust the margin as per your design */
    padding: 10px 20px; /* Adjust the padding as per your design */
    font-size: 16px; /* Adjust the font size as per your design */
    color: deepskyblue;
    border: none;
    border-radius: 25px; /
}

.footer {
    background-image: url("images/footer-bg.jpeg"); /* Replace with the path to your background image */
    background-size: cover; /* Adjust the background size property as per your design */
    background-position: center; /* Adjust the background position property as per your design */
    background-repeat: no-repeat; /* Adjust the background repeat property as per your design */
    /* Add additional styling for the footer */
    /* Add padding, text color, etc. */
    height:600px;

}


.footer-nav {

    padding: 10px; /* Adjust the padding as per your design */
    display: inline-block;
    margin-right: 20px;
    padding:4em;
}

.footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-nav ul li {
    display: inline;
    margin-right: 10px; /* Adjust the margin as per your design */
}

.footer-nav ul li a {
    text-decoration: none;
    color: #333; /* Set the link color as per your design */
}

.footer-nav ul li a:hover {
    color: blue; /* Set the link color on hover as per your design */
}
footer  .social{
    padding:2.5em;
    float:left;
    display: inline-block;
}

footer  p {
    font-size: 0.85em;
    display: inline-block;
    margin: 0 5px; /* Adjust the margin as per your design */
}
footer .social .fa {
    display: inline-block;
    padding: 15px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}

footer .social .fa:hover {
    opacity: 0.9;
}
footer  .social .fa-facebook {
    background: #3B5998;
    color: white;
}
footer  .social .fa-twitter {
    background: #55ACEE;
    color: white;
}
footer  .social .fa-instagram{
    background: #E1306C;
    color: white;
}
footer  .social .fa-linkedin{
    background: #125688;
    color: white;
}
footer  .social .fa-pinterest{
    background: #BD081C;
    color: white;
}
footer  .social .fa-youtube{
    background: #FF0000;
    color: white;
}

.line {
    height: 1px;
    background-color: lightgrey; /* Adjust the color as per your design */
    margin-top: 0px; /* Adjust the top margin as per your design */
    width: 100%;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust the height as needed */
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    /*margin: 0 auto;*/
}

th, td {
    padding: 19px;
    font-size: 16px;

}




#partners {
    width: 100%;
    padding: 2em 0;
    margin: 0 auto;
    text-align: left;
    white-space: nowrap; /* Prevent line breaks */
    overflow-x: auto; /* Enable horizontal scrolling */
}

#partners .partner {
    display: inline-block;
    margin: 0 0.5em;
    padding: 1.3em 1.5em;

    border-radius: 50%;
}

#partners .partner img {
    width: 120px;
    height: 90px;
    border-radius: 50%;
}


#partners .partner img {
    width: 90px;
    height: 90px;
}




.image-container1 {
    position: relative;
     height: 574px
    /*display: inline-block;*/
}

.image-container1 .image-text  {
    position: absolute;
    top: 44%;
    left: 30%;
    right:30%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;

    text-align: center;

    padding: 10px;
}
.image-container1 .image-text p {
    font-weight: normal;
}
.image-container1 .image-text .special {
    text-align: left;
    text-indent: 1em;
    list-style-type: disc;
    margin: 0; /* Optional: remove any default margin */
}
.underline {
    text-decoration: underline;
}

.button.register {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.image-container2 {
    position: relative;
    display: inline-block;
}

.image-container2 img {
    position: absolute;
    top: 0;
    left: 0;
    /* Adjust width, height, and other properties as needed */
}


.image-container2 img[src="images/home-our-locations-map.png"] {
    width: 574px; /* Adjust the desired width */
    height: auto; /* Maintain the aspect ratio */
    right: 0;
    z-index: 1;
    /*right: 10%;*/

}
/*.image-container2 img[src="images/home-our-locations-bg.png"] {*/
/*    width: 100%; !* Adjust the width as needed *!*/
/*    height: auto; !* Maintain the aspect ratio *!*/
/*    z-index: 0;*/
/*}*/

.align-right {
    text-align: right;
}


