/* Add your desired CSS styles here */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Header styles */
header, nav, main, footer {
    padding: 20px;
}

header {
    background-color: black;
    text-align: center;
    padding: 20px;
    height: 100px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 0px;
}

.logo-small {
    width: 200px;
}

.header-nav {
    padding: 10px;
}

.header-nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.header-nav ul li {
    position: sticky;
    color: black;
    margin: 0 10px;
}

.header-nav ul li a {
    color: white;
    text-decoration: none;
}

.user-section {
    margin-left: auto;
}

.user-section a {
    margin-left: 10px;
    text-decoration: none;
    color: blue;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.user-section a:hover {
    background-color: blue;
    color: white;
}

/* Main content styles */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.image-container {
    position: relative;
    display: inline-block;
    background-size: cover;
    background-position: center;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 43px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.button-container {
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: deepskyblue;
    border: none;
    border-radius: 25px;
}

.image-container1 {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.image-container1 .image-text {
    position: absolute;
    top: 44%;
    left: 30%;
    right: 30%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.image-container1 .image-text p {
    font-weight: normal;
}

.image-container1 .image-text .special {
    text-align: left;
    text-indent: 1em;
    list-style-type: disc;
    margin: 0;
}

.underline {
    text-decoration: underline;
}

.button.register {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.image-container2 {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.image-container2 .image-text {
    position: absolute;
    color:white;
    /* Add your desired CSS styles here */
}
/* General styles */

/* Header styles */
header, nav, main, footer {
    padding: 20px;
}

header {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 20px;

}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 0px;
}

.logo-small {
    width: 200px;
}

.header-nav {
    padding: 10px;
}

.header-nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.header-nav ul li {
    position: sticky;
    color: black;
    margin: 0 10px;
}

.header-nav ul li a {
    color: white;
    text-decoration: none;
}

.user-section {
    margin-left: auto;
}

.user-section a {
    margin-left: 10px;
    text-decoration: none;
    color: blue;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.user-section a:hover {
    background-color: blue;
    color: white;
}

/* Main content styles */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.button.register {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.image-container2 {
    position: relative;
    height: 800px;
}

.image-container2 .image-text {
    position: absolute;
    top: 50%;
    left:30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.image-container2 .image-text p {
    font-weight: normal;
}

.image-container2 .image-text .special {
    text-align: left;
    text-indent: 1em;
    list-style-type: disc;
    margin: 0;
}

.footer {
    background-image: url("images/footer-bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

.footer-nav {
    padding: 10px;
    display: inline-block;
    margin-right: 20px;
    padding: 4em;
}

.footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-nav ul li {
    display: inline;
    margin-right: 10px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #333;
}

.footer-nav ul li a:hover {
    color: blue;
}

.footer .social {
    padding: 2.5em;
    float: left;
    display: inline-block;
}

.footer p {
    font-size: 0.85em;
    display: inline-block;
    margin: 0 5px;
}

.footer .social .fa {
    display: inline-block;
    padding: 15px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}

.footer .social .fa:hover {
    opacity: 0.9;
}

.footer .social .fa-facebook {
    background: #3B5998;
    color: white;
}

.footer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}

.footer .social .fa-instagram {
    background: #E1306C;
    color: white;
}

.footer .social .fa-linkedin {
    background: #125688;
    color: white;
}

.footer .social .fa-pinterest {
    background: #BD081C;
    color: white;
}

.footer .social .fa-youtube {
    background: #FF0000;
    color: white;
}

.line {
    height: 1px;
    background-color: lightgrey;
    margin-top: 0px;
    width: 100%;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 19px;
    font-size: 16px;
}

#partners {
    width: 100%;
    padding: 2em 0;
    margin: 0 auto;
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
}

#partners .partner {
    display: inline-block;
    margin: 0 0.5em;
    padding: 1.3em 1.5em;
    border-radius: 50%;
}

#partners .partner img {
    width: 120px;
    height: 90px;
    border-radius: 50%;
}

#partners .partner img {
    width: 90px;
    height: 90px;
}

.award-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.award-item {
    flex-basis: 50%;
    max-width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .award-item {
        flex-basis: 33.33%;
    }
}

@media (min-width: 768px) {
    .award-item {
        flex-basis: 25%;
    }
}

/* Responsive Styles */

/* Small screens */
@media (max-width: 767px) {
    .header-nav ul li {
        margin: 0 5px;
    }

    .header-nav ul li a {
        font-size: 14px;
    }

    .image-text {
        font-size: 30px;
    }

    .button-container {
        bottom: 180px;
    }

    .image-container1 .image-text {
        font-size: 14px;
    }

    .footer-nav {
        margin-right: 10px;
        padding: 2em;
    }

    .footer p {
        font-size: 0.7em;
        margin: 0 3px;
    }

    .table-container {
        height: auto;
    }

    table {
        font-size: 14px;
    }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {
    .header-nav ul li {
        margin: 0 8px;
    }

    .header-nav ul li a {
        font-size: 16px;
    }

    .image-text {
        font-size: 36px;
    }

    .button-container {
        bottom: 220px;
    }

    .image-container1 .image-text {
        font-size: 16px;
    }

    .footer-nav {
        margin-right: 15px;
        padding: 3em;
    }

    .footer p {
        font-size: 0.8em;
        margin: 0 4px;
    }

    .table-container {
        height: auto;
    }

    table {
        font-size: 16px;
    }
}

/* Large screens */
@media (min-width: 992px) {
    .header-nav ul li {
        margin: 0 12px;
    }

    .header-nav ul li a {
        font-size: 18px;
    }

    .image-text {
        font-size: 48px;
    }

    .button-container {
        bottom: 250px;
    }



    .footer-nav {
        margin-right: 20px;
        padding: 4em;
    }

    .footer p {
        font-size: 0.9em;
        margin: 0 5px;
    }

    .table-container {
        height: auto;
    }

    table {
        font-size: 18px;
    }}



/* Responsive Styles */



//* Small screens */
@media (max-width: 767px) {
    .image-container,
    .image-container1,
    .image-container2 {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {
    .image-container,
    .image-container1,
    .image-container2 {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/* Large screens */
@media (min-width: 992px) {
    .image-container,
    .image-container1,
    .image-container2 {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
/* Small screens */
/* Small screens */
.table-container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.table-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    text-align: center;
}

.ass {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
/* Large screens */
@media (min-width: 992px) {
    .table-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {
    .table-row {
        display: grid;
        grid-template-columns: repeat(2, 4fr);
        grid-gap: 20px;
    }
}

/* Small screens */
@media (max-width: 767px) {
    .table-row {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}
.my-table {
    border-collapse: collapse;
    font-size: 3px; /* Set the font size */

}

.my-table td {
    border: none;
    padding: 10px; /* Set the cell size */
}

.highlighted {
    color: black; /* Set the background color for highlighted cells */
    font-size: 20px;
}
.normal {
    color: #55ACEE; /* Set the font color */
    font-size: 12px;
}


.my-table {
    border-collapse: collapse;
    font-size: 16px;
    color: #333;
}

.my-table td {
    border: none;
    padding: 12px;
}

/*!* Big screens *!*/
/*@media (min-width: 992px) {*/
/*    .my-table {*/
/*        !* Styles for big screens *!*/
/*        display: grid;*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*        grid-template-rows: repeat(14, auto);*/
/*    }*/
/*}*/

/*!* Medium and small screens *!*/
/*@media (max-width: 991px) {*/
/*    .my-table {*/
/*        !* Styles for medium and small screens *!*/
/*        display: grid;*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        grid-template-rows: repeat(21, auto);*/
/*    }*/
/*}*/
