/* Add your desired CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    padding: 20px;
}

header {
    background-color: black;

    /*text-align: center; !* Center the heading *!*/
    padding: 20px;
    height: 300px;
}
.logo-container {
    display: flex;
    /*align-items: center;*/
}

.logo {
    margin-left: 0px; /* Adjust the spacing between the images if needed */
}
.logo-small {
    width: 200px; /* Adjust the width of the images as desired */
}
nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: sticky;
    color:black;
}

nav ul li a {
    color:white;
    text-decoration: none;
}


main {
    background-image: url("image/mainclass.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;

}

footer {
    background-color: #ccc;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form button {
    margin-bottom: 10px;
}

.image-gallery img {
    width: 200px;
    height: auto;
    margin: 10px;
}
